<ion-header>
  <ion-toolbar>
    <ion-title>
      Current weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngIf="weatherService.weather != null">
      <ion-card-header>
        <ion-card-subtitle>{{ weatherService.weather.City }}</ion-card-subtitle>
        <ion-card-title>{{ weatherService.weather.Main }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ weatherService.weather.Description }}</p>
        <p>Temperature: <b>{{ weatherService.weather.Temperature }}°C</b></p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card" *ngIf="weatherService.weather == null">
      <ion-card-header>
        <ion-card-subtitle>Bienvenue</ion-card-subtitle>
        <ion-card-title>TopWeather</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="settings.weatherAPIKey != ''">Chargement...</p>
        <p *ngIf="settings.weatherAPIKey == ''">Renseignez votre clé API dans settings</p>
      </ion-card-content>
    </ion-card>
</ion-content>
